Users/faridklc17/.amlignore
Users/faridklc17/.amlignore.amltmp
Users/faridklc17/src/prem
Users/faridklc17/src/.venv/
Users/faridklc17/Ransomware_headers.xlsx
*.amltemp
*.amltmp
*.txt
*.csv
*.xlsx
*.log
*.h5
*.pyc
Users/faridklc17/src/test.py
Users/faridklc17/src/salmi_CNN_code.py
Users/faridklc17/src/sami_LSTM_code.py
Users/faridklc17/src/sami_MLP_code.py
Users/faridklc17/src/MLP.ipynb
Users/faridklc17/src/.amlignore
Users/faridklc17/src/clean/.amlignore
Users/faridklc17/src/clean/__pycache__/.amlignore
Users/faridklc17/src/clean/results/*
